.card{
    border: 0;
    padding: 0.5rem 0rem;
    border-radius: 18px;
    margin-bottom: 1rem;
}



.card h5{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color);
}


.card h5 span{
    font-weight: 700;
}


.card h6{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark-grey);
}