:root {
    --primary-color: #111;
    --green-color: rgb(3, 90, 3);
    --text-grey: #6E7984;
    --text-dark-grey: #585858;
    --section-grey: #eee;
    --color-pending: #FFA726;
    --color-approved: #66BB6A;
    --color-active: #42A5F5;
    --color-rejected: #EF5350;
    --color-inactive: #9E9E9E;
    --color-cancelled: #78909C;
}


body {
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

section {
    margin-bottom: 2rem;
}

label {
    font-size: 17px;
    font-weight: 400;
    color: var(--text-dark-grey);
}


.cursor-pointer {
    cursor: pointer;
}


.slick-prev,
.slick-next {
    display: block !important;
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 20px;
}

.form-input {
    width: 100%;
    border: 2px solid #fff;
    outline: none;
    background: #f1f1f1;
    padding: 0.8rem;
}

.form-input[type="file"] {
    padding: 0.67rem;
}

.form-input[type="number"]::-webkit-inner-spin-button,
.form-input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.form-input[type="number"] {
    -moz-appearance: textfield;
}

.form-btn {
    color: white;
    background-color: var(--primary-color);
    padding: 0.8rem;
    border: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
    border-radius: 10px;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-input:focus {
    box-shadow: none;
    outline: none;
    border-color: var(--text-dark-grey);
}

.form-required label:after {
    content: "*";
    color: red;
}

.banner-heading {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary-color);
}

.banner-subtitle {
    font-size: 24px;
    color: var(--text-dark-grey);
}

.section-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);
}

.section-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-dark-grey);
}

.primary-btn {
    color: white;
    background-color: var(--primary-color);
    padding: 0.3rem 0.8rem;
    border: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
    border-radius: 5px;
}

.primary-btn:disabled {
    background-color: #585858;
}

.primary-btn:disabled:hover {
    background-color: #585858;
}

.primary-btn:hover {
    background-color: #333;
}

.green-btn {
    color: white;
    background-color: var(--green-color);
    padding: 0.3rem 0.8rem;
    border: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
    border-radius: 10px;
}

.green-btn:hover {
    background-color: rgb(3, 70, 3);
}

.outline-btn {
    color: var(--primary-color);
    background-color: #dedede;
    padding: .3rem .8rem;
    border: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
    border-radius: 10px;
}

.outline-btn:hover {
    background-color: #bcbcbc;
}

.transparent-btn {
    background: none;
    border: none;
    border-radius: 10px;
}

@media (max-width: 576px) {

    .primary-btn,
    .outline-btn {
        font-size: 15px;
        padding: 0.2rem 0.5rem;
    }
}


.tableDefault th {
    background-color: var(--primary-color);
    color: white;
}

.tableDefault table,
th,
td {
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
}

@media screen and (max-width: 576px) {

    .tableDefault table,
    th,
    td {
        font-size: 12px;
        padding: 0;
    }

    .section-title {
        font-size: 24px;
        font-weight: 600;
    }
}

.tableDefault tr {
    cursor: pointer;
}


.navbar-toggler:focus {
    box-shadow: none !important;
}


.logo-link {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.dropdown-menu {
    border: 0;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.dropdown-item:focus {
    color: #212529;
    background-color: rgb(170, 170, 170);
}

.bg-pending {
    background-color: var(--color-pending);
}

.bg-approved {
    background-color: var(--color-approved);
}

.bg-active {
    background-color: var(--color-active);
}

.bg-inactive {
    background-color: var(--color-inactive);
}

.bg-rejected {
    background-color: var(--color-rejected);
}

.bg-cancelled {
    background-color: var(--color-cancelled);
}