:root {
    --primary-color: #111;
    --text-grey: #6E7984;
    --text-dark-grey: #585858;
}


body {
    font-family: "Inter", serif;
}

.form-input {
    width: 100%;
    border: 2px solid #fff;
    outline: none;
    background: #f1f1f1;
    padding: 0.8rem;
}

.form-btn{
    color: white;
    background-color: var(--primary-color);
    padding: 0.8rem;
    border: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
}

.banner-heading {
    font-size: 48px;
    font-weight: 600;
    color: var(--primary-color);
}

.banner-subtitle{
    font-size: 24px;
    color: var(--text-dark-grey);
}

.section-title{
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);
}

.primary-btn {
    color: white;
    background-color: var(--primary-color);
    padding: 0.3rem 0.8rem;
    border: none;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
}

.primary-btn:hover{
    background-color: #333;
}

.outline-btn{
    color: var(--primary-color);
    background-color: white;
    padding: 0.2rem 0.7rem;
    border: 2px solid #111;
    font-size: 17px;
    font-weight: 400;
    transition: all 200ms ease-in;
}

.outline-btn:hover{
    background-color: #dedede;
}

@media (max-width: 576px){
    .primary-btn,
    .outline-btn{
        font-size: 15px;
        padding: 0.2rem 0.7rem;
    }
}


.tableDefault th {
    background-color: var(--primary-color);
    color: white;
}
.tableDefault table, th, td {
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
}
.tableDefault tr {
    cursor: pointer;
}


.navbar-toggler:focus{
    box-shadow: none  !important;
}